

body{
    background: #fff;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.contact-us{
    margin: 7%;
    /* background-color:wheat; */
    width: fit-content;
    padding: 12px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}
.text h1{
    font-size: 2.5rem;
    font-family: 'GFS Didot', serif;
    margin: 0;
}
.address, .phone , .email {
    display: flex;
    flex-direction: row;
    gap: 7%;
    margin: 0;
}
.address img, .phone img , .email img{
    width: 28px;
    height: auto;
}
.address p, .phone p , .email p{
    font-size: larger;
    font-family: 'GFS Didot', serif; 
}

.text a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'GFS Didot', serif;

}


.address :hover , .phone a:hover , .email a:hover{
    color: darkorange;

}
.frame-contact{
    width: 100%;
    height: 100%;
    margin: 7%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #afd8fa; /* Light gray background */
}
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5% auto 5% auto;
  }
  .frame-contact h1{
    text-align: center;
    font-family: 'GFS Didot', serif; 
    color: darkblue;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bolder;
    color: darkblue;
    font-family: 'GFS Didot', serif;
    
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
  
  button[type="submit"] {
    width: 75%;
    margin: 2px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        .main {
            display: block;
        }
        .text{
            gap: 8px;
        }
        .contact-us{
            margin: 2%;
            width: fit-content;
        }
        .frame-contact{
            margin: 4%;
            width: 80vw;
            
        }
        .text h1 {
            font-size: 1.5rem;
        }
        .address img, .phone img , .email img{
            width: 14px;
            height: auto;
        }
        .address p,
        .phone p,
        .email p,
        .text a {
            font-size: 1rem;
            
        }
        .address, .phone, .email {
            display: flex;
            flex-direction: row;
            gap: 3%;
            margin: 0;
        }

        .frame-contact h1 {
            font-size: 1.2rem;
        }

        .contact-form {
            width: 100%; /* Adjust max-width for mobile screens */
        }
        
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            font-size: 14px; 
            width: 90%;/* Adjust font size for better mobile readability */
        }

        .form-group{
            display: flex;
            flex-direction: column;
        }
        .credits{
            width: 100%;
        
        }
    }
}